{% extends "tools/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Experience Route Calculator" "tools:experience-route-calculator" %}
{% endblock %}

{% block subtitle %}Experience Route Calculator{% endblock %}

{% block content %}				<h1>Experience Route Calculator</h1>
				<p>This tool will help you evaluate your experience route for a Final Fantasy IV speedrun.</p>
				<h3>Route Selection</h3>
                <select class="custom-select" id="route-select" style="margin-bottom: 1em;"></select>
                <h3>Current Status</h3>
                <div id="status"></div>
                <h3>Battles</h3>
		        <div id="battles"></div>
				<h3>Documentation</h3>
				<p>This tool allows you explore different experience routes for the Final Fantasy IV speedrun. Choose a route at the top, and then review the route. You can mark characters as alive or dead for a battle by clicking on their name. Bold characters are alive. Characters without links are in the shadow party and cannot be manipulated.</p>
				<p>In addition, for battles where it is feasible to kill more than the default number of a given monster, an input box is provided for you to modify the count.</p>
				<p>If your chosen experience route does not meet all the requirements of the route, warnings will be displayed at the top.</p>
				<p>The tool is currently very ugly and wastes a lot of space. This may or may not change in the future, but I would be open to someone redesigning the interface.</p>
				<p>There is currently no reset functionality. If you wish to reset, simply refresh the page or switch to another route and then back.</p>
{% endblock %}

{% block extrajs %}
				<script src="{% static "js/exp.js" %}"></script>
				<script>
					com.aexoden.ff4.exp.init();
				</script>
{% endblock %}
