{% extends "tools/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Any% NoCW GP Calculator" "tools:nocw-gp-calculator" %}
{% endblock %}

{% block subtitle %}Any% NoCW GP Calculator{% endblock %}

{% block content %}				<h1>Any% NoCW GP Calculator</h1>
				<address>Jason Lynch &lt;<a href="mailto:jason@calindora.com">jason@calindora.com</a>&gt; (Aexoden)</address>
				<h2>Introduction</h2>
				<p>This tool is designed to help you determine if your GP value is safe for Any% NoCW runs, and how to fix it if it isn't.</p>
				<h2>Calculator</h2>
				<form id="data" onsubmit="com.aexoden.ff4.nocw.onSubmitGP(); return false;">
					<dl class="row">
						<dt class="col-sm-3">Current GP</dt>
						<dd class="col-sm-9"><input type="text" id="gp" name="gp" value=""></dd>
						<dt class="col-sm-3">Next Battle</dt>
						<dd class="col-sm-9">
							<select name="battle" id="battle">
								<option value="valvalis">Valvalis</option>
								<option value="calbrena">Calbrena</option>
								<option value="none">None</option>
							</select>
						</dd>
					</dl>
					<p><input type="submit" value="Calculate!"></p>
				</form>
				<dl class="row">
					<dt class="col-sm-3">Current Result</dt>
					<dd class="col-sm-9" id="current-result">N/A</dd>
					<dt class="col-sm-3">Suggested Fix</dt>
					<dd class="col-sm-9" id="suggested-fix">N/A</dd>
					<dt class="col-sm-3">Result with Fix</dt>
					<dd class="col-sm-9" id="fixed-result">N/A</dd>
				</dl>
				<div class="bs-callout bs-callout-danger" hidden="true" id="warning-box">
					<span class="fas fa-exclamation-triangle"></span>
					<h4>Danger</h4>
					<p id="warning-text"></p>
				</div>
{% endblock %}

{% block extrajs %}
				<script src="{% static "js/nocw.js" %}"></script>
{% endblock %}
