/*
 * Table of Contents
 */

.container-fluid {
	left: 0;
	max-width: 70em;
	position: absolute;
}

#toc {
	background: #EEEEEE;
	display: none;
	height: 100%;
	left: 0;
	top: 0;
	padding-top: 20px;
	position: fixed;
	width: 350px;
}

@media screen and (min-width: 1152px) {
	#toc {
		display: block;
	}

	.container-fluid {
		left: 350px;
		right: 0px;
	}
}
