{% extends "info/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
	{{ block.super }}
    {% breadcrumb "Maps" "info:maps" %}
{% endblock %}

{% block subtitle %}Maps{% endblock %}

{% block content %}				<h1>Maps</h1>
                <p>These maps show the locations of treasure chests, secret passages and other interesting tiles.</p>
                <h2>World Maps</h2>
                <ul>
                    <li><a href="{% url 'tools:map-viewer' %}">Overworld</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '1000' %}">Underworld</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '2000' %}">Moon</a></li>
                </ul>
                <h2>Towns</h2>
                <h3>Agart</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3006' %}">Agart</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '301E' %}">Agart Astro Tower</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '301F' %}">Agart Astro Tower Observatory</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3020' %}">Agart Inn</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3045' %}">Agart Weapon Shop</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3046' %}">Agart Armor Shop</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '308B' %}">Agart Well</a></li>
                </ul>
                <h3>Baron</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3000' %}">Town of Baron</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '300B' %}">Town of Baron Inn</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '300C' %}">Town of Baron Weapon Shop</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '300D' %}">Town of Baron House (Cid)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '300E' %}">Town of Baron House (Rosa)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3097' %}">Town of Baron Serpent Road</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30EC' %}">Town of Baron Item Shop</a></li>
                </ul>
                <h3>Kaipo</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3002' %}">Kaipo</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3010' %}">Kaipo Inn</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3011' %}">Kaipo Cafe</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3012' %}">Kaipo House</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30E3' %}">Kaipo Weapon Shop</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30E4' %}">Kaipo Armor Shop</a></li>
                </ul>
                <h3>Mist</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3001' %}">Village Mist</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '300F' %}">Village Mist House</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30E0' %}">Village Mist Inn</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30E1' %}">Village Mist Weapon Shop</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30E2' %}">Village Mist Armor Shop</a></li>
                </ul>
                <h3>Mysidia</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3003' %}">Mysidia</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3013' %}">Mysidia Cafe</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3014' %}">Mysidia Inn</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3016' %}">Mysidia House of Wishes</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3017' %}">Mysidia Room of Wishes</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3088' %}">Mysidia Crystal Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3089' %}">Mysidia Serpent Road</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30E5' %}">Mysidia Weapon Shop</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30E6' %}">Mysidia Armor Shop</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30E7' %}">Mysidia Item Shop</a></li>
                </ul>
                <h3>Silvera</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3004' %}">Silvera</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30E8' %}">Silvera Inn</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30E9' %}">Silvera Weapon Shop</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30EA' %}">Silvera Armor Shop</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30EB' %}">Silvera Item Shop</a></li>
                </ul>
                <h3>Tomra</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3101' %}">Tomra</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3104' %}">Tomra Inn</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3105' %}">Tomra Weapons/Armors</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3106' %}">Tomra Treasure Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3132' %}">Tomra Item Shop</a></li>
                </ul>
                <h3>Toroia</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3005' %}">Town of Toroia</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3007' %}">Town of Toroia Inn</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3008' %}">Town of Toroia Weapon Shop</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3009' %}">Town of Toroia Armor Shop</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '300A' %}">Town of Toroia Item Shop</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3018' %}">Town of Toroia Cafe 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3019' %}">Town of Toroia Cafe 2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '301A' %}">Town of Toroia Cafe Saloon KING</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '301C' %}">Town of Toroia Black Chocobo Farm</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '301D' %}">Town of Toroia Black Chocobo Farm Basement</a></li>
                </ul>
                <h2>Miscellaneous</h2>
                <h3>Big Whale</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '312F' %}">Big Whale</a></li>
                </ul>
                <h3>Chocobo Forests</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '30CF' %}">Chocobo's Forest (Fabul)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30D1' %}">Chocobo's Forest (Mt.Ordeals)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30D2' %}">Chocobo's Forest (Baron)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30D3' %}">Chocobo's Forest (Toroia)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30D4' %}">Chocobo's Forest (Chocobo Island)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3021' %}">Chocobo's Village</a></li>
                </ul>
                <h3>Grotto Adamant</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '30A0' %}">Grotto Adamant</a></li>
                </ul>
                <h3>Hummingway Cave</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3165' %}">Hummingway Cave</a></li>
                </ul>
                <h3>Kokkol, the Smith's</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3100' %}">Kokkol, the Smith's</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3102' %}">Kokkol, the Smith's 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3103' %}">Kokkol, the Smith's 2F</a></li>
                </ul>
                <h3>Mage Room (Yes64)</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3139' %}">Mage Room (NoCW)</a></li>
                </ul>
                <h3>Training Room</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '30B1' %}">Training Room 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30B2' %}">Training Room 2F</a></li>
                </ul>
                <h2>Castles</h2>
                <h3>Baron</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3024' %}">Baron</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '302A' %}">Baron 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '302B' %}">Baron 2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '308A' %}">Baron 3F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '302C' %}">Baron King's Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '302D' %}">Baron Left Passage</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '302E' %}">Baron Right Passage</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '302F' %}">Baron Dungeon Antechamber</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3030' %}">Baron Dungeon</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3031' %}">Baron Infirmary</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3032' %}">Baron Left Tower 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3033' %}">Baron Left Tower 2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3034' %}">Baron Left Tower Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3035' %}">Baron Right Tower 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3036' %}">Baron Right Tower 2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3037' %}">Baron Right Tower 3F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3038' %}">Baron Right Tower B1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3039' %}">Baron Right Tower B2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3066' %}">Baron Black Magic Class</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3067' %}">Baron White Magic Class</a></li>
                </ul>
                <h3>Castle of Dwarves</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3107' %}">Castle of Dwarves</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3108' %}">Castle of Dwarves 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3109' %}">Castle of Dwarves King's Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '310D' %}">Castle of Dwarves Crystal Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '310A' %}">Castle of Dwarves B1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3112' %}">Castle of Dwarves Infirmary</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '310B' %}">Castle of Dwarves B2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '310F' %}">Castle of Dwarves Dwarf Base</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3111' %}">Castle of Dwarves Left Tower 2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3113' %}">Castle of Dwarves Left Tower 3F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '311A' %}">Castle of Dwarves Left Tower 5F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '311B' %}">Castle of Dwarves 4F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '310E' %}">Castle of Dwarves Right Tower 2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3120' %}">Castle of Dwarves Cafe HOWDY!</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3110' %}">Castle of Dwarves Right Tower 3F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3119' %}">Castle of Dwarves Right Tower 5F</a></li>
                </ul>
                <h3>Damcyan</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3025' %}">Damcyan</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '303F' %}">Damcyan 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3040' %}">Damcyan 2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3041' %}">Damcyan 3F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3042' %}">Damcyan Basement</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3043' %}">Damcyan B1F</a></li>
                </ul>
                <h3>Eblan</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3028' %}">Eblan</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '305E' %}">Eblan 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '305F' %}">Eblan 2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3060' %}">Eblan King's Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3061' %}">Eblan Left Tower 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3062' %}">Eblan Left Tower 2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3063' %}">Eblan Right Tower 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3064' %}">Eblan Right Tower 2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3065' %}">Eblan Basement</a></li>
                </ul>
                <h3>Fabul</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3026' %}">Fabul</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3047' %}">Fabul 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3048' %}">Fabul 2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3049' %}">Fabul King's Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '304A' %}">Fabul Crystal Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '304B' %}">Fabul Weapons/Armors</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '304C' %}">Fabul Inn</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '304D' %}">Fabul Right Tower 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '304E' %}">Fabul Right Tower 2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '304F' %}">Fabul Right Tower 3F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3050' %}">Fabul Left Tower 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3051' %}">Fabul Left Tower 2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3052' %}">Fabul Left Tower 3F</a></li>
                </ul>
                <h3>Toroia</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3027' %}">Toroian Castle</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3055' %}">Toroian Castle 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3056' %}">Toroian Castle 2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3057' %}">Toroian Castle Crystal Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3058' %}">Toroian Castle Infirmary</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3059' %}">Toroian Castle B1F Antechamber</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '305A' %}">Toroian Castle B1F Left</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '305B' %}">Toroian Castle B1F Center</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '305C' %}">Toroian Castle B1F Right</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '305D' %}">Toroian Castle B2F</a></li>
                </ul>
                <h2>Dungeons</h2>
                <h3>Antlion</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3077' %}">Antlion B1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '307A' %}">Antlion B1F Save Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3078' %}">Antlion B2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '307B' %}">Antlion B2F Treasure Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3079' %}">Antlion's Nest</a></li>
                </ul>
                <h3>Cave Bahamut</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '315A' %}">Cave Bahamut B1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '315B' %}">Cave Bahamut B2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '315C' %}">Cave Bahamut B3F</a></li>
                </ul>
                <h3>Cave Eblana</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '30C7' %}">Cave Eblana B1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30C8' %}">Cave Eblana B2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30CC' %}">Cave Eblana B2F Weapons/Armors</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30CB' %}">Cave Eblana B2F Inn</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30CE' %}">Cave Eblana B2F Infirmary</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30C9' %}">Pass to Bab-il (south)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30CA' %}">Pass to Bab-il (north)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30CD' %}">Pass to Bab-il (north) Save Room</a></li>
                </ul>
                <h3>Cave Magnes</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '308C' %}">Cave Magnes B1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '308D' %}">Cave Magnes B2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '308E' %}">Cave Magnes B2F Treasure Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '308F' %}">Cave Magnes B3F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3090' %}">Cave Magnes B3F Treasure Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3091' %}">Cave Magnes B3F Passage</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3092' %}">Cave Magnes B3F Save Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3093' %}">Cave Magnes B4F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30A1' %}">Cave Magnes B4F Save Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3094' %}">Cave Magnes Crystal Room</a></li>
                </ul>
                <h3>Giant of Bab-il</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '30B5' %}">Giant of Bab-il Mouth</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30B6' %}">Giant of Bab-il Neck</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30B7' %}">Giant of Bab-il Chest</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30B9' %}">Giant of Bab-il Stomach</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30BA' %}">Giant of Bab-il Passage</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30BC' %}">Giant of Bab-il Lung</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30BD' %}">Giant of Bab-il CPU</a></li>
                </ul>
                <h3>Land of Monsters</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3136' %}">Land of Monsters B1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3137' %}">Land of Monsters B2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3138' %}">Land of Monsters B3F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '313A' %}">Land of Monsters B4F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '313B' %}">Land of Monsters Treasure Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '313C' %}">Town of Monsters</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3141' %}">Town of Monsters Weapon Shop</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3142' %}">Town of Monsters Armor Shop</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3143' %}">Town of Monsters Inn</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '313D' %}">Town of Monsters Save Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '313E' %}">Town of Monsters Library</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '313F' %}">Town of Monsters Library Downstairs</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3140' %}">Town of Monsters King's Room</a></li>
                </ul>
                <h3>Lunar Path</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3163' %}">Lunar Path (west)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3164' %}">Lunar Path (east)</a></li>
                </ul>
                <h3>Lunar Core</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3160' %}">Lunar's Lair 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3161' %}">Lunar's Lair 2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3167' %}">Lunar Subterrane B1</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3168' %}">Lunar Subterrane B2</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3169' %}">Lunar Subterrane B3</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '316A' %}">Lunar Subterrane B4</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3173' %}">Lunar Subterrane B4 Treasure Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3174' %}">Lunar Subterrane B4 Passage</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '316B' %}">Lunar Subterrane B5</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3175' %}">Lunar Subterrane B5 Passage A</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3176' %}">Lunar Subterrane B5 Passage B</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3177' %}">Lunar Subterrane B5 Pink Puff Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3178' %}">Lunar Subterrane B5 Save Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '316C' %}">Lunar Subterrane B6</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3179' %}">Lunar Subterrane B6 Passage</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '316D' %}">Lunar Subterrane B7</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '317B' %}">Lunar Subterrane B7 Save Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '317A' %}">Lunar Subterrane B7 Treasure Room A (White)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '317C' %}">Lunar Subterrane B7 Treasure Room B (Ribbon)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '316E' %}">Lunar Core B1</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '316F' %}">Lunar Core B2</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3170' %}">Lunar Core B3</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3171' %}">Lunar Core B4</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3172' %}">Lunar Core B5</a></li>
                </ul>
                <h3>Misty Cave</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '306C' %}">Misty Cave</a></li>
                </ul>
                <h3>Mt.Hobs</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '307E' %}">Mt.Hobs-West</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3081' %}">Mt.Hobs-West Treasure Area</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '307F' %}">Mt.Hobs Summit</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3080' %}">Mt.Hobs-East</a></li>
                </ul>
                <h3>Mt.Ordeals</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3084' %}">Mt.Ordeals</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3085' %}">Mt.Ordeals-3rd station</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3086' %}">Mt.Ordeals-7th station</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3087' %}">Mt.Ordeals Summit</a></li>
                </ul>
                <h3>Old Water-way</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3044' %}">Old Water-way Antechamber</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '303A' %}">Old Water-way</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '303B' %}">Baron B3F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '303E' %}">Baron B2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '303C' %}">Baron B1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '303D' %}">Baron B1F Save Room</a></li>
                </ul>
                <h3>Sealed Cave</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3144' %}">Sealed Cave</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '314A' %}">Sealed Cave B1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '314B' %}">Sealed Cave B1F Treasure Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '314C' %}">Sealed Cave B1F Passage</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '314D' %}">Sealed Cave B2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3150' %}">Sealed Cave B2F Treasure Room A (Light)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '314F' %}">Sealed Cave B2F Treasure Room B (various)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '314E' %}">Sealed Cave B2F Treasure Room C (Long/Ninja)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3151' %}">Sealed Cave B2F Passage</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3152' %}">Sealed Cave B3F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3153' %}">Sealed Cave B3F Passage</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3154' %}">Sealed Cave B3F Treasure Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3155' %}">Sealed Cave B4F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3156' %}">Sealed Cave B4F Save Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3157' %}">Sealed Cave B5F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3158' %}">Sealed Cave Save Room/Empty Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3159' %}">Sealed Cave Crystal Room</a></li>
                </ul>
                <h3>Sylvan Cave</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3145' %}">Sylvan Cave B1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3146' %}">Sylvan Cave B2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3147' %}">Sylvan Cave B3F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3148' %}">Sylvan Cave Treasure Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3149' %}">Sylvan House</a></li>
                </ul>
                <h3>Tower of Bab-il (lower)</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3121' %}">Tower of Bab-il 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3122' %}">Tower of Bab-il 2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3116' %}">Tower of Bab-il 2F Treasure Room A (Blizzard)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3115' %}">Tower of Bab-il 2F Treasure Room B (IceBrand)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3123' %}">Tower of Bab-il 3F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3124' %}">Tower of Bab-il 4F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3117' %}">Tower of Bab-il 4F Treasure Room A (Ice Shield)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3118' %}">Tower of Bab-il 4F Treasure Room B (Ice Armor)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3125' %}">Tower of Bab-il 5F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '312D' %}">Tower of Bab-il 5F Super Cannon</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3126' %}">Tower of Bab-il 6F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '311F' %}">Tower of Bab-il 6F (revisit)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3127' %}">Tower of Bab-il 7F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '311E' %}">Tower of Bab-il 7F (revisit)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3128' %}">Tower of Bab-il 8F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '311D' %}">Tower of Bab-il 8F (revisit)</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3114' %}">Tower of Bab-il Save Room/Empty Room</a></li>
                </ul>
                <h3>Tower of Bab-il (upper)</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '30A7' %}">Tower of Bab-il 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30A8' %}">Tower of Bab-il B2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30A9' %}">Tower of Bab-il B3F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30A6' %}">Tower of Bab-il B3F Save Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30AA' %}">Tower of Bab-il B4F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30AC' %}">Tower of Bab-il B5F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30AB' %}">Tower of Bab-il Crystal Room</a></li>
                </ul>
                <h3>Tower of Zot</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '3098' %}">Tower of Zot 1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3099' %}">Tower of Zot 2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '309A' %}">Tower of Zot 3F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '309C' %}">Tower of Zot 4F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '309D' %}">Tower of Zot 5F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '30A2' %}">Tower of Zot 5F Save Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '309E' %}">Tower of Zot 6F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '309F' %}">Tower of Zot 7F</a></li>
                </ul>
                <h3 name="watery-pass">Watery Pass</h3>
                <ul>
                    <li><a href="{% url 'tools:map-viewer-map' '306F' %}">Watery Pass-South B1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3083' %}">Watery Pass-South B1F Treasure Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3070' %}">Watery Pass-South B2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3054' %}">Watery Pass-South B2F Save Room</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3071' %}">Watery Pass-South B3F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3072' %}">Watery Pass-North B2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3073' %}">Watery Pass-North B1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3074' %}">Waterfalls B1F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3075' %}">Waterfalls B2F</a></li>
                    <li><a href="{% url 'tools:map-viewer-map' '3076' %}">Waterfalls Lake</a></li>
                </ul>
{% endblock %}

{% block extrajs %}
{% endblock %}
