{% extends "guides/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
	{{ block.super }}
{% endblock %}

{% block subtitle %}Index{% endblock %}

{% block content %}				<h1>Guides</h1>
				<p>This page provides various guides and notes for completing <i>Final Fantasy IV</i>, mostly in a speedrunning context.</p>
				<h2>Speedrunning Introduction</h2>
				<p>There are two primary categories for speedrunning <i>Final Fantasy IV</i>:</p>
				<dl class="row">
					<dt class="col-sm-3">Any% NoCW</dt>
					<dd class="col-sm-9">Short for Any% No Credits Warp, this category requires you to defeat Zeromus without warping directly to the credits. A good run will finish in just under 2 hours.</dd>
					<dt class="col-sm-3">Any% No64</dt>
					<dd class="col-sm-9">This category disallows the use of the 64-door hierarchy glitch, which results in a slightly longer run that lasts just longer than 3 hours.</dd>
				</dl>
				<p>There are also several other categories that are considered less important:</p>
				<dl class="row">
					<dt class="col-sm-3">Octomamm%</dt>
					<dd class="col-sm-9">An approximately 25-minute race to defeat Octomamm.</dd>
					<dt class="col-sm-3">Paladin%</dt>
					<dd class="col-sm-9">A good introductory category which ends upon Cecil becoming a Paladin. This hour-long category is almost identical to both Any% NoCW and Any% No64, and serves as a good starting point for someone new to running the game.</dd>
					<dt class="col-sm-3">Any% (AKA Any% Credits Warp)</dt>
                    <dd class="col-sm-9">This category is largely identical to Any% NoCW, except it warps directly to the credits instead of defeating Zeromus. Due to the unstable nature of the glitch used, this run will typically fail approximately 50% of the time. As a result, it is currently out of favor. It's marginally shorter than Any% NoCW.</dd>
                    <dt class="col-sm-3">Any% Glitchless</dt>
                    <dd class="col-sm-9">This category plays through the entire game without using avoidable glitches. It plays very similiarly to Any% No64, with some differences.</dt>
				</dl>
				<h2>Full Run Speedrunning Guides</h2>
				<h3>Aexoden's Guides</h3>
				<p>The following guides were originally written by me, primarily as notes to use during my own runs. As such, they are biased toward strategies I use in my runs and may be suboptimal, incomplete, or both. In addition, several techniques used in the run are not fully explained. They are best used as a reference during a run or as a basis for your own notes. However, there is still plenty of text dedicated to explaining things, so they may still be useful for learning in conjunction with other resources. All of these guides are for the USA SNES release.</p>
				<ul>
					<li><a href="{% url "guides:nocw" %}">Any% NoCW</a></li>
					<li><a href="{% url "guides:no64-rosa" %}">Any% No64 (Rosa)</a></li>
                    <li><a href="{% url "guides:no64-excalbur" %}">Any% No64 (Edge+Excalbur)</a></li>
					<li><a href="{% url "guides:no64-rosa-marathon" %}">Any% No64 (Rosa) (Marathon)</a></li>
                    <li><a href="{% url "guides:glitchless" %}">Any% Glitchless</a></li>
                </ul>
				<h3>Recommended External Guides</h3>
				<p>The following guides are in-depth notes created by two of the top runners of the game. They are excellent for either learning the runs or as a basis for your own notes. (The main NoCW notes by the_roth discuss the 9-item route. The community has since decided that the 12-item route is faster, and a link is provided to the_roth's addendum regarding that route.)</p>
				<ul>
					<li><a href="https://docs.google.com/document/d/1Q-tdhzzETGhkT8XUzaw0GbFWTqGCaAQzrz-HWNJEfZs/edit">Any% NoCW</a> and the <a href="https://docs.google.com/document/d/1FgPOf_Nc5hN6xd-wioO9xikvJJWXkPLDFTi1BSVAtb8/edit">12-Item Route Addendum</a> (by <a href="https://www.twitch.tv/the_roth">the_roth</a>)</li>
					<li><a href="https://docs.google.com/document/d/1oLUA9Xt5RGQehK6I8MY7R4qKbhDeR5V9PY8gz7Lz4YI/edit">Any% No64</a> (by <a href="https://www.twitch.tv/riversmccown">riversmccown</a>)</li>
				</ul>
				<h3>Aexoden's Alternate Route Guides</h3>
				<p>These guides are for routes or versions of the game that are less common in the community. The guides may be out of date or even more suboptimal than usual. They may, however, serve as an interesting introduction or starting point.</p>
				<ul>
					<li><a href="{% url "guides:cw-music" %}">Any% Credits Warp with Music</a></li>
					<li><a href="{% url "guides:sfc-nocw" %}">SFC Any% NoCW</a></li>
                </ul>
                <h2>Guides for Other Games</h2>
                <p>The following guides have nothing to do with Final Fantasy IV, but are available here nonetheless:</p>
                <ul>
                    <li><a href="{% url "guides:ff5" %}">Final Fantasy V Any% (with English Patch)</a></li>
                    <li><a href="{% url "guides:ff5-glitchless" %}">Final Fantasy V Any% Glitchless (with English Patch)"
                </ul>
				<h2>Mini-Guides</h2>
				<p>These guides cover smaller topics and are useful for learning specific techniques or more about speedrunning tech. Feel free to suggest topics. The general idea is to have concise guides covering topics that were previously only covered in obscure places or in long tuutorial videos.</p>
				<ul>
					<li><a href="{% url "guides:mini-step-routing" %}">Step Routing Basics</a></li>
					<li><a href="{% url "guides:mini-glitch-room-setup" %}">Glitch Room Setup</a> (for seed 92 manipulation)</li>
					<li><a href="{% url "guides:mini-inventory-warping" %}">Inventory Warping</a> (used in Any% NoCW)</li>
				</ul>
				<h2>Other Resources</h2>
				<p>The following resources are potentially useful for learning to speedrun the game. They are not all up-to-date or completely correct, but some information can be gleaned from them nonetheless.</p>
				<h3>Notes</h3>
				<ul>
					<li><a href="https://docs.google.com/document/d/1M9KickQYDJqSRTsYW208Q0Ub3FD0W8jCNFhZxxQLPpM/edit">Milon and Milon Z Mimic Glitch Notes</a> (by <a href="https://www.twitch.tv/the_roth">the_roth</a>)</li>
					<li><a href="https://docs.google.com/document/d/1M8KZuowc0KHSh3ItBJlwzcU7OrW6E8rcStCn4t2CKhI/edit">Mimic Glitch Backups</a> (by <a href="https://www.twitch.tv/penguin8r">penguin8r</a>)</li>
					<li><a href="https://docs.google.com/spreadsheets/d/1ff9KXLlYGG8aaHP0OUJGGROvCYIVJcbJ2ca2HoFMdmU/edit">Encounter Seed Tutorial</a> (by <a href="https://www.twitch.tv/endlesstundra">EndlessTundra</a>) (use with the seed 92 video below)</li>
					<li><a href="https://pastebin.com/yk6dcg4u">Duping Equipment and Consumables</a> (by <a href="https://www.twitch.tv/penguin8r">penguin8r</a>) (describes an alternate dupe for non-weapons)</li>
				</ul>
				<h3>Videos</h3>
				<ul>
					<li><a href="https://www.twitch.tv/neerrm/v/6256410">Guaranteed Seed 92 Manipulation</a> (by <a href="https://www.twitch.tv/neerrm">neerrm</a>) (use with Encounter Seed Tutorial above)</li>
					<li><a href="https://www.twitch.tv/neerrm/v/8676839">Any% NoCW Yellow Chocobo Manipulation</a> (by <a href="https://www.twitch.tv/neerrm">neerrm</a>)</li>
					<li><a href="https://www.twitch.tv/aznblusuazn/v/39828345">Glitch Room Setup</a> (by <a href="https://www.twitch.tv/aznblusuazn">AznBlusuazn</a> and <a href="https://www.twitch.tv/myself086">Myself086</a>)</li>
				</ul>
				<h3>Myself086's Resources</h3>
				<p>All of the following were created by <a href="https://www.twitch.tv/myself086">Myself086</a>, who has contributed extensively to FF4 speedrunning. Many of them are linked separately in the relevant locations in the guides.</p>
				<ul>
					<li><a href="{% static "myself086/YangVSimps.txt" %}">All: Yang/Imp Cap. Battle Manipulation</a></li>
					<li><a href="{% static "myself086/frogchocobo.txt" %}">All: Frog-based Black Chocobo Manipulation</a></li>
					<li><a href="{% static "myself086/BlackChocoboLanding.PNG" %}">Any% NoCW: Black Chocobo Image</a></li>
					<li><a href="{% static "myself086/YellowChocobo.PNG" %}">Any% NoCW: Yellow Chocobo Image</a></li>
					<li><a href="{% static "myself086/Yes64_FireclawRoute.txt" %}">Any% NoCW: 12-Item Route Notes</a> (my own guide is originally based on these)</li>
					<li><a href="{% static "myself086/GrindFightManip.txt" %}">Any% No64: Grind Fight Manipulation (text version)</a> (for manipulating the grind fight starting from the Giant save point)</li>
					<li><a href="{% static "myself086/GrindFightManip.PNG" %}">Any% No64: Grind Fight Manipulation (image version)</a></li>
					<li><a href="{% static "myself086/GrindFightManip2.txt" %}">Any% No64: Alternate Grind Fight Manipulation</a> (from save before boarding Big Whale while leaving moon)</li>
				</ul>
{% endblock %}

{% block extrajs %}
{% endblock %}
