{% extends "tools/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Seed Finder" "tools:seed-finder" %}
{% endblock %}

{% block subtitle %}Seed Finder{% endblock %}

{% block content %}				<h1>Seed Finder</h1>
				<p>This tool will help you determine which seed you are on for the purpose of using a step route.</p>
				<div class="btn-group-toggle" data-toggle="buttons">
					<button type="button" class="btn btn-primary" id="button-image-previous" disabled>Previous Image</button>
					<button type="button" class="btn btn-primary" id="button-image-next" disabled>Next Image</button>
					<button type="button" class="btn btn-primary" id="button-reset">Reset</button>
				</div>
				<div class="row" style="margin-top: 1.0em">
					<div class="col">
						<canvas width="512" height="512" id="map">
					</div>
					<div class="col" id="encounters">
					</div>
				</div>
				<h3>Route Selection</h3>
				<select class="custom-select" id="route-select" style="margin-bottom: 1em;">
{% for route, data in routes.items %}
{% if data.enabled and data.seed_finder %}
					<option value="{{ route }}">{{ data.name }}</option>
{% endif %}
{% endfor %}
				</select>
				<h3>Possible Seeds</h3>
				<div class="row">
					<div class="col" id="seeds">
					</div>
				</div>
				<h3>Documentation</h3>
				<p>In order to use this tool, simply follow these steps after resetting and loading your save:</p>
				<ol>
					<li>Every time you get an encounter, select the tile on which you got the encounter. Select the exact formation you got by clicking on it. (Technically, you can skip selecting the formation, but it's highly recommended and may be required to differentiate seeds in certain instances.)</li>
					<li>When you're done with a given map, simply click <em>Next Image</em> to move to the next map.</li>
					<li>Once you reach the destination (for most routes, this is the Watery Pass-South B2F Save Room), click the <em>Finish</em> button. This will lock in your encounters and help distinguish between seeds that only differ in whether or not they get one last encounter.</li>
				</ol>
				<p>There are several pairs of seeds that can't be distinguished by steps alone by the time you reach the end. We call these <em>twin seeds</em>. Some of these <em>can</em> be distinguished by formation, which is why it is highly recommended that you select formations. In fact, for categories that have twin seed-safe routes, you must select your formations to guarantee safety. Also be sure to select the correct route, or twin seed resolution information may be inaccurate.</p>
				<h3>Route Types</h3>
				<dl class="dl-horizontal">
					<dt>Mist Clip</dt><dd>Most available routes are of this type, where you reset as part of doing the Mist Clip. In this case, your destination (where you should click Finish) is the Watery Pass-South B2F Save Room. Several seeds are indistinguishable (twin seeds), and the tool will give you information on what to do in that case.</dd>
					<dt>FuSoYa</dt><dd>Used as part of some recovery routes, this route type requires you to save and reset immediately upon landing on the moon (first visit). You should then proceed to recruit FuSoYa and then return to the Big Whale. You should click Finish once you return to the Big Whale. As long as you select all formations, there are no indistinguishable seeds.</dd>
                    <dt>Paladin</dt><dd>Used as part of some recovery routes, this route type requires you to save and reset at the save point on Mt. Ordeals immediately after becoming a Paladin. You should then proceed as normal and click Finish once you reach the third map of the Waterway beneath Baron.</dd>
                    <dt>Start</dt><dd>These routes begin at the beginning of the game (currently only used for glitchless). Be careful to immediately walk to the left or right (depending on if the route collects any treasure chests) immediately upon entering Castle Baron 1F to take advantage of the tile that doesn't count as a step. A few seeds don't diverge until the usual save room used for most other routes. Some of the steps in the final room overlap when you collect the treasure chest. The overlapping steps are shown off to the side, but don't get confused by their location.</dd>
				</dl>
				<h3>Roadmap</h3>
				<p>The following features are planned, and may or may not actually happen depending on if I feel like working on this:</p>
				<ul>
					<li>Allow for fuzzy searches. In particular, I'm thinking of two instances: First, the tool currently requires that you do not skip any encounters. If you do, it will return incorrect results. I'd like to make it possible to optionally be more lenient (though it may end up impossible to identify your seed in that case). Second, I'd like to add a feature to help in cases where you weren't sure exactly which tile you got an encounter on.</li>
				</ul>
{% endblock %}

{% block extrajs %}
				<script src="{% static "js/seed-finder.js" %}"></script>
				<script>
					let colors = {{ colors|safe }};
					com.aexoden.ff4.init(colors);
				</script>
{% endblock %}
