{% extends "routes/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb route_data.name "routes:route" route %}
	{% breadcrumb_for "routes:detail" route seed %}Seed {{ seed }}{% endbreadcrumb_for %}
{% endblock %}


{% block subtitle %}{{ route_data.name }} Seed {{ seed }}{% endblock %}

{% block content %}
				<h1>{{ route_data.name }} Seed {{ seed }} Step Route</h1>
				<h2 id="overview">Route Overview</h2>
				<dl class="dl row">
{% for statistic in statistics %}
					<dt class="col-sm-2">{{ statistic.name }}</dt>
					<dd class="col-sm-10">{{ statistic.data }}</dd>
{% endfor %}
				</dl>
				<h2 id="detail">Route Description</h2>
{% if route_data.group == "archive" %}
				<div class="bs-callout bs-callout-info"><span class="fas fa-info-circle"></span><h4>Archived Route</h4><p>This route is currently archived. This means that it has not been updated to work with the latest optimizer. This could be for a couple of reasons. Either it's deprecated or silly, or I simply haven't gotten around to it. Either way, the result is that the only tab that works here is the <i>Detail</i> tab. If you're using this route, I presume you know what you're doing.</p></div>
{% elif route_data.group == "alternate" %}
				<div class="bs-callout bs-callout-info"><span class="fas fa-info-circle"></span><h4>Alternate Route</h4><p>This route is a non-standard route that has no tutorial or summary data. As a result, the only tab that works here is the <i>Detail</i> tab. If you're using this route, I presume you know what you're doing.</p></div>
{% endif %}
{% if route_data.group != "standard" %}
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" id="tab-detail" data-toggle="tab" href="#tab-route-detail">Detail</a>
					</li>
				</ul>
{% else %}
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" id="tab-summary" data-toggle="tab" href="#tab-route-summary">Summary</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="tab-detail" data-toggle="tab" href="#tab-route-detail">Detail</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="tab-tutorial" data-toggle="tab" href="#tab-route-tutorial">Tutorial</a>
					</li>
				</ul>
{% endif %}
				<div class="tab-content">
{% if route_data.group == "standard" %}
					<div class="tab-pane fade show active" id="tab-route-summary"></div>
					<div class="tab-pane fade" id="tab-route-detail">
{% else %}
					<div class="tab-pane fade show active" id="tab-route-detail">
{% endif %}
						<pre style="padding: 10px;">{% for line in detail %}{{ line|safe }}
{% endfor %}</pre>
					</div>
{% if route_data.group == "standard" %}
					<div class="tab-pane fade" id="tab-route-tutorial">
						<div class="btn-group-toggle my-3" data-toggle="buttons">
							<label class="btn btn-primary active">
								<input type="checkbox" checked id="option-overlay" onchange="updateMaps(false)">Show Tile Overlay</input>
							</label>
							<label class="btn btn-primary">
								<input type="checkbox" id="option-show-all" onchange="updateMaps(true)">Show All Maps</input>
							</label>
						</div>
						<div class="bs-callout bs-callout-info"><span class="fas fa-info-circle"></span><h4>Information</h4><p>The following images show maps on which to take extra steps for this route. The exact location to take these steps is only a suggestion. Feel free to find a location that works better for you, but be mindful of tiles that don't count as steps. You might also review the <i>Summary</i> or <i>Detail</i> tabs for encounter information. Most of them are shown here, but due to limitations in the current route output format, they can't always be assigned to the correct map.</p></div>
						<div id="tutorial-map-wrapper" class="container mx-0">
						</div>
					</div>
{% endif %}
				</div>
				<script src="{% static "js/ff4.js" %}"></script>
				<script>
					com.aexoden.ff4.printSummary(document.getElementById("tab-route-summary"), "{{ route }}", {{ vars|safe }}, {{ battles|safe }});

					function updateMaps(repaint) {
						com.aexoden.ff4.drawMaps(document.getElementById("tutorial-map-wrapper"), "{{ route }}", {{ vars|safe }}, {{ battles|safe }}, repaint);
					}

					updateMaps(true);
				</script>
{% endblock %}
