{% extends "routes/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb route_data.name "routes:route" route %}
	{% breadcrumb_for "routes:detail" route seed %}Seed {{ seed }}{% endbreadcrumb_for %}
{% endblock %}


{% block subtitle %}{{ route_data.name }} Seed {{ seed }}{% endblock %}

{% block content %}
				<h1>{{ route_data.name }} Seed {{ seed }} Step Route</h1>
				<h2 id="overview">Route Overview</h2>
				<dl class="dl row">
{% for statistic in statistics %}
					<dt class="col-sm-2">{{ statistic.name }}</dt>
					<dd class="col-sm-10">{{ statistic.data }}</dd>
{% endfor %}
				</dl>
				<h2 id="detail">Route Description</h2>
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" id="tab-summary" data-toggle="tab" href="#tab-route-summary">Summary</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="tab-detail" data-toggle="tab" href="#tab-route-detail">Detail</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="tab-tutorial" data-toggle="tab" href="#tab-route-tutorial">Tutorial</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade show active" id="tab-route-summary"></div>
					<div class="tab-pane fade" id="tab-route-detail">
						<pre>{% for line in detail %}{{ line }}
{% endfor %}</pre>
					</div>
					<div class="tab-pane fade" id="tab-route-tutorial">
						<div class="btn-group-toggle my-3" data-toggle="buttons">
							<label class="btn btn-primary active">
								<input type="checkbox" checked id="option-overlay" onchange="updateMaps(false)">Show Tile Overlay</input>
							</label>
							<label class="btn btn-primary">
								<input type="checkbox" id="option-show-all" onchange="updateMaps(true)">Show All Maps</input>
							</label>
						</div>
						<div class="bs-callout bs-callout-info"><span class="fas fa-info-circle"></span><h4>Information</h4><p>The following images show maps on which to take extra steps for this route. The exact location to take these steps is only a suggestion. Feel free to find a location that works better for you, but be mindful of tiles that don't count as steps.</p></div>
						<div id="tutorial-map-wrapper" class="container mx-0">
						</div>
					</div>
				</div>
				<script src="{% static "js/ff4.js" %}"></script>
				<script>
					com.aexoden.ff4.printSummary(document.getElementById("tab-route-summary"), "{{ route }}", {{ vars|safe }});

					function updateMaps(repaint) {
						com.aexoden.ff4.drawMaps(document.getElementById("tutorial-map-wrapper"), "{{ route }}", {{ vars|safe }}, repaint);
					}

					updateMaps(true);
				</script>
{% endblock %}
