{% extends "routes/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
	{{ block.super }}
{% endblock %}

{% block subtitle %}Index{% endblock %}

{% block content %}				<h1>Step Routes</h1>
			<h2>Introduction</h2>
			<p>One of the potentially most annoying parts of any attempted speedrun of <em>Final Fantasy IV</em> is the prospect of random encounters. They are rarely actually fought, and the potential for a back attack or surprise attack means precious seconds lost. The routes listed on this page serve to minimize the amount of time wasted on random encounters.</p>
			<p>Essentially, a step route is a series of extra steps or alternate paths taken while running the game with the goal of decreasing the total amount of time the run takes. This page provides ready-to-use step routes for the original US SNES release of <em>Final Fantasy IV</em> (originally released as <em>Final Fantasy II</em>). Routes for other releases may also be available at some point.</p>
			<h2>Tutorial</h2>
			<p>At some point, a completely introductory tutorial will once again be available. For now, each route has its own individual <em>Tutorial</em> tab which should help newcomers.</p>
			<p>In order to find your seed during a run, I recommend using my <a href="{% url 'tools:seed-finder' %}">Seed Finder tool</a>.</p>
			<h2>Standard Routes</h2>
			<dl class="row">
{% for route, route_data in routes.items %}
{% if route_data.enabled %}
				<dt class="col-sm-3"><a href="{% url "routes:route" route %}">{{ route_data.name }}</a></dt>
{% else %}
				<dt class="col-sm-3 text-muted">{{ route_data.name }}</dt>
{% endif %}
				<dd class="col-sm-9">{{ route_data.description }}</dd>
{% endfor %}
			</dl>
			<p>If you use any of the routes and something goes wrong, please let me know and link me to a video so I can attempt to investigate the problem. It could simply be a mistake in execution or a misinterpretation of the instructions, but it could also be a problem with the route generation or with this site.</p>
			<h2>Theory</h2>
			<p><i>Final Fantasy IV</i> uses a relatively simple system for determining when encounters occur. There are 256 possible seeds. For any given seed and encounter rate, the step numbers where encounters occur is fixed. By following the path through the game, we can determine exactly when encounters will occur and what formations they will be.</p>
			<p>There are two ways we can adjust our route:</p>
			<dl>
				<dt>Optional Steps</dt>
				<dd>Not every tile will increment the step counter. On certain maps, by choosing to walk in certain ways, we can increase the step counter by a different number of steps, even as we move across the same number of tiles. For historical reasons, these are called <em>optional steps</em> (because the increase in the step counter is optional).</dd>
				<dt>Extra Steps</dt>
				<dd>We can simply take extra steps, mostly by pacing back and forth.</dd>
			</dl>
			<p>Including healing time, an encounter will waste anywhere from 5.6 to 32.0 seconds. The overall average is somewhere between 8 and 10 seconds per encounter. Knowing this, there are three primary ways taking extra steps can actually be beneficial:</p>
			<dl>
				<dt>Fewer Encounters</dt>
				<dd>By taking extra steps in areas where the encounter rate is zero (or simply lower than the rate in the next area), we can directly skip encounters that would otherwise occur.</dd>
				<dt>Faster Encounters</dt>
				<dd>Not all enemy formations are created equal. Some are easier to run from, and some have fewer or shorter enemy attacks in the event of a surprise or back attack. We can take extra steps to move encounters from one area to another, potentially changing the enemy formation to a more favorable one.</dd>
				<dt>Guaranteed Encounters</dt>
				<dd>In certain cases, we actually want to have a particular encounter. (The primary example of this is searching for the grind fight in the <i>No64</i> run.) By manipulating our encounters throughout the game, we can ensure that this formation appears exactly when we need it to. This saves us from a potentially lengthy save and reset cycle or from walking around aimlessly searching for the required formation.</dd>
			</dl>
			<p>All of this sounds wonderful, of course, but as I'm sure you can imagine, trying to figure this all out in your head would probably be a fool's errand. Instead, we use a computer to solve the problem. Specifically, I use a tool I've written called <a href="https://github.com/aexoden/spoony">Spoony</a> to generate the routes.</p>
			<h2>Acknowledgements</h2>
			<p>I don't know exactly what his contribution was, but some early work on the concepts of step routing was done by <a href="https://www.twitch.tv/the_roth">the_roth</a>, who is one of the top runners of FF4 in the world.</p>
			<p>I'd also like to thank <a href="https://www.twitch.tv/myself086">Myself086</a> for his instrumental work in the development of FF4 step routes. His pioneering work used a truly optimal solver, though it operated on a simplified model that didn't take individual encounter times into account and did not optimize the final descent. His routes were originally used to seed the generation of my own.</p>
			<p>Later on, many of the routes were optimized with encounter timings using an optimizer written by <a href="https://www.twitch.tv/fcoughlin">fcoughlin</a>. I've since enhanced the timing information even further to change based on the current party, so we can no longer use his optimizer, but the routes you see on this site descend from optimal routes generated by his software.</p>
			<p>My optimizer, Spoony, as I've hinted above, does not generate truly optimal routes as it uses a stochastic optimization algorithm. However, testing has indicated that it gets very close. Eventually, I will replace the routes with ones generated by my new route generator, ROSA. However, ROSA is not yet feature complete and is unable to serve this role.</p>
			<h2>Contact</h2>
			<p>If you have any questions, comments, suggestions or any other feedback, please <a href="mailto:jason@calindora.com">send me an e-mail</a> or message me on <a href="https://www.twitch.tv/aexoden">Twitch</a>.</p>
{% endblock %}
