{% extends "routes/base.html" %}
{% load static %}

{% block subtitle %}{{ title }}{% endblock %}

{% block subheading %}{{ title }}{% endblock %}

{% block content %}				<h2 id="overview">Route Statistics</h2>
				<dl class="dl-horizontal"></dl>
				<h2 id="detail">Route Heat Map</h2>
				<table class="seeds">
{% for group in seeds %}
					<tr>
{% for seed in group %}
						<td style="background: {{ seed.background }}"><a href="{% url 'routes:detail' route seed.seed %}">{{ seed.seed }}</td>
{% endfor %}
					</tr>
{% endfor %}
				</table>
{% endblock %}
