{% extends "routes/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb route_data.name "routes:route" route %}
{% endblock %}

{% block subtitle %}{{ route_data.name }}{% endblock %}

{% block content %}				<h1>{{ route_data.name }} Step Routes</h1>
				<h2 id="description">Route Description</h2>
				<p>{{ route_data.description }}</p>
{% if route_data.group == "archive" %}
				<div class="bs-callout bs-callout-info"><span class="fas fa-info-circle"></span><h4>Archived Route</h4><p>This route is currently archived. This means that it has not been updated to work with the latest optimizer. This could be for a couple of reasons. Either it's deprecated or silly, or I simply haven't gotten around to it. Either way, the result is that not all features will be available. The route should still be valid for what it was designed for, but use at your own risk.</p></div>
{% endif %}
				<h2 id="statistics">Statistics</h2>
				<table class="table table-striped">
					<thead>
						<tr><th>Metric</th><th>Best Value</th><th>Median Value</th><th>Worst Value</th></tr>
					</thead>
					<tbody>
{% for metric in metrics %}						<tr>
							<th>{{ metric.name }}</th>
							<td>{{ metric.best|safe }}</td>
							<td>{{ metric.median|safe }}</td>
							<td>{{ metric.worst|safe }}</td>
						</tr>
{% endfor %}
					</tbody>
				</table>
				<h2 id="detail">Complete Seed List</h2>
				<p>This is a table of every possible seed for the route. Note that average seeds are white-colored, while slower seeds are brown and faster seeds are green.</p>
				<table class="seeds">
{% for group in seeds %}					<tr>
{% for seed in group %}						<td style="background: {{ seed.background }}"><a href="{% url 'routes:detail' route seed.seed %}">{{ seed.seed }}</td>
{% endfor %}
					</tr>
{% endfor %}
				</table>
{% endblock %}
